@model Binaes.Web.Models.Parametro

@{
    ViewData["Title"] = "Eliminar parámetro";
}

<h1 class="mb-3 text-danger">Eliminar parámetro</h1>

<h4>¿Está seguro que desea eliminar este registro?</h4>

<hr />

<dl class="row">
    <dt class="col-sm-3">
        @Html.DisplayNameFor(model => model.PlazoDias)
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.PlazoDias)
    </dd>

    <dt class="col-sm-3">
        @Html.DisplayNameFor(model => model.TopePrestamosActivos)
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.TopePrestamosActivos)
    </dd>

    <dt class="col-sm-3">
        @Html.DisplayNameFor(model => model.MaxRenovaciones)
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.MaxRenovaciones)
    </dd>
</dl>

<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />

    <button type="submit" class="btn btn-danger">Eliminar</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>
